{% extends "base.html" %}
{%load staticfiles%}
{%block headex%}
	<link href="{%static 'bootstrap-3.3.5/dist/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{%static 'bootstrap-3.3.5/dist/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{%static 'bootstrap-3.3.5/dist/css/bootstrap-theme.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{%static 'bootstrap-3.3.5/dist/css/templatemo_style.css'%}" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=9e96a5e2d1484110e610c4df54838615"></script>
{%endblock%}
{%block body%}
<body class="templatemo-bg-gray">
	<!--map staff-->
	<div id = "map" style="display: none"></div>
	<script type="text/javascript">
		var map = new AMap.Map('map');
	    map.plugin('AMap.Geolocation', function () {
    	geolocation = new AMap.Geolocation();
    	geolocation.getCurrentPosition();
    	AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
    	AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
		});

	    function onComplete(data) {
	    	document.getElementById("lat").value=data.position.getLat();
	    	document.getElementById("lng").value=data.position.getLng();
    	}
    	function onError(data){
    		alert('please turn on the location service of your browser');
    	}
	    map.getCity(function (result){
	      	document.getElementById("city").value=result.city;
  		});
	</script>
	<!--map staff end-->

	{%if error %}
		<script type="text/javascript">alert("{{error}}")</script>
	{%endif%}
	
	<div class="container">
		<div class="col-md-12">
			<h1 class="margin-bottom-15"> Login </h1>
			<form class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30" role="form" action="." method="post">
			{%csrf_token%}
			    <!--lng&&lat-->
			    <input name="lng" type="text" id="lng" style="display: none" value="None"></input>
			    <input name="lat" type="text" id="lat" style="display: none" value="None"></input>
			    <!--city-->
			    <input name="city" type="text" id="city" style="display: none"></input>
		        <div class="form-group">
		          <div class="col-xs-12">		            
		            <div class="control-wrapper">
		            	<label for="email" class="control-label fa-label"><i class="fa fa-user fa-medium"></i></label>
		            	<input type="email" class="form-control" id="username" name="email" placeholder="Email" required="required">
		            </div>		            	            
		          </div>              
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		          	<div class="control-wrapper">
		            	<label for="password" class="control-label fa-label"><i class="fa fa-lock fa-medium"></i></label>
		            	<input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required">
		            </div>
		          </div>
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
	             	<div class="checkbox control-wrapper">
	                	<label>
	                  		<input type="checkbox"> Remember me
                		</label>
	              	</div>
		          </div>
		        </div>
		        <div class="form-group">
		          <div class="col-md-12">
		          	<div class="control-wrapper">
		          		<input type="submit" value="Log in" class="btn btn-info">
		          		<a href="forgot-password.html" class="text-right pull-right">Forgot password?</a><!--leave to handle-->
		          	</div>
		          </div>
		        </div>
		        <hr>
		    </form>
		      <div class="text-center">
		      	<a href="{% url 'accounts:register' %}" class="templatemo-create-new">Create new account <i class="fa fa-arrow-circle-o-right"></i></a>	
		      </div>
		</div>
	</div>
</body>
{%endblock%}