{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="col-lg-3"></div>
		<div class="container col-lg-6 text-center">
			<legend>User infomation</legend>
			<img src="{{obj.get_profile}}" width="300px" height="300px" class="img-circle">
			<div>
				<a href="{% url 'accounts:fri_add' obj.id%}"><small style="padding-right: 5px">request</small><span class="glyphicon glyphicon-plus"></span></a>
			</div>
			<div class="form-group">
				{% if dist >= 0 %}
					<h4>Between us:{{dist|floatformat}}km</h4>
				{% else %}
					<h4>Between us:unkown</h4>
				{% endif %}
				<h4>Nickname:{{obj.get_nick_name}}</h4>
				<h4>Email:{{obj.get_email}}</h4>
				<h4>Sex:{{obj.get_sex}}</h4>
				{% if is_friend %}
					<h4>Phone:{{obj.get_phone}}</h4>
					<h4>Work:{{obj.get_work}}</h4>
					<h4>Weight:{{obj.get_weight}}kg</h4>
					<h4>Height:{{obj.get_height}}cm</h4>
				{% else %}
					<h4>Phone:***</h4>
					<h4>Work:***</h4>
					<h4>Weight:***</h4>
					<h4>Height:***</h4>
				{% endif %}			
			</div>
		</div>
	</div>
{% endblock %}