{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
<div class="container">
	
	<h2 class="title text-center">{{title}}</h2> 
	<span class="text-center">
		<h4><small>作者:{{author}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 发表日期:{{finished_time|date:'y-m-d h:m'}}</small></h4>
	</span>
	<div class="container" style="margin-top: 60px" >
		<div class="row">
	  		<div class="col-xs-4 col-md-2"></div>
	  		<div class="col-xs-10 col-md-8" style="background-color:#E7E8ED;">
			  	<article>
					{% autoescape off %}<!-- if not ,the page will be abnormal -->

		     		 	{{content}}

					{% endautoescape %}	

				</article></div>
	  		<div class="col-xs-4 col-md-2"></div>	
		</div>
		
	</div>
	 
</div>

<div class="container">
	<!-- review-->
	
</div>
{% endblock %}