{% extends "base.html" %}
{% load staticfiles %}
{%block content%}
<div class = "container">
	<div class ="col-md-12">
		<table id="table" class="table table-hover table-striped">
		<th>Title</th>
		<th>Category</th>
		<th>Advocator</th>
		<th>Process</th>
		<th>Action</th>
		{% for act in act_list %}
		<tr>
			<td>{{act.title}}</td>
			<td>{{act.get_category}}</td>
			<td>{{act.advocator.nick_name}}</td>
			<td></td>
			<td>
				<!--<form action="" method="post">
				{%csrf_token%}
					<input type="text" name ="id" value="{{act.id}}"  style="display:none;"/>
					<input class="btn btn-default btn-sm" type="submit" value="加入">		
				</form>-->
				<button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal" type="button">detail</button>
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
				      </div>
				      <div class="modal-body">
				        ...
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Join</button>
				      </div>
				    </div>
				  </div>
				</div>
			</td>
		</tr>
		{%endfor%}
		</table>
	</div>
</div>
{%endblock%}