{% extends 'base.html' %}
{% load staticfiles %}
{% block headex %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Aaban Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap.css'%}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css'%}" rel='stylesheet' type='text/css' />
<script src="{% static 'js/jquery-1.11.0.min.js'%}"></script>

<!---- start-smoth-scrolling---->
<script type="text/javascript" src="{% static 'js/move-top.js'%}"></script>
<script type="text/javascript" src="{% static 'js/easing.js'%}"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
{% endblock %}




<!--start-header-->
	<!-- script-for-menu -->
	<!-- script-for-menu -->
{%block content%}
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
	<!--search-scripts-->
					<script src="{% static 'js/classie.js'%}"></script>
					<script src="{% static 'js/uisearch.js'%}"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
	<!--//search-scripts-->
	<!--banner-starts-->
		<div class="banner" id="home">
			<div class="container">
					<div  id="top" class="callbacks_container">
								    </div>
			      	<div class="col-lg-5" style="padding-top: 200px">
			      	{% if not user %}
			      		 <form class="form-horizontal" action="." method="post">
			      		 {%csrf_token%}
						  <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						    <div class="col-sm-10">
						      <input name="email" class="form-control" id="inputEmail3" placeholder="Email" type="email">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						    <div class="col-sm-10">
						      <input name="password" class="form-control" id="inputPassword3" placeholder="Password" type="password">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <div class="checkbox">
						        <label>
						          <input type="checkbox"> Remember me
						        </label>
						      </div>
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <button type="submit" class="btn btn-default">Sign in</button>
						    </div>
						  </div>
						</form>
			      	</div>
			      	{%endif%}
			  <div class="clearfix"> </div>
				</div>
			</div>
		</div>
	<!--banner-ends--> 
	<!--Slider-Starts-Here-->
				<script src="{% static 'js/responsiveslides.min.js'%}"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!--End-slider-script-->
	<!--services-starts-->
	<div class="services" id="services">
		<div class="container">
			<div class="services-top">
				<h3>我的拼游</h3>
				<span> </span>
			</div>
			<div class="services-bottom">
				<div class="col-md-4 services-left">
					<div class="service-one">
						<img src="{% static 'images/service-1.png'%}" alt="" />
						<h4>拼运动</h4>
						<p>
						运动是去除各种坏心情的有效方法，在学习工作之余，拼几个附近的小伙伴一起去运动吧，打打球，跑跑步，锻锻炼，让身体更加出彩！
						</p>
						<p><a class="btn btn-primary" href="#">点击查看</a> <a class="btn" href="#">我要发起</a></p>
					</div>
				</div>
				<div class="col-md-4 services-left">
					<div class="service-one">
						<img src="{% static 'images/services-3.png'%}" alt="" />
						<h4>拼出游</h4>
						<p>
						室内紧张的快节奏是不是已经让你无法呼吸，那就出去走走，让更广阔的视野疏散你眉头的结，一个背包，一群人！
						</p>
						<p><a class="btn btn-primary" href="#">点击查看</a> <a class="btn" href="#">我要发起</a></p>
					</div>
				</div>
				<div class="col-md-4 services-left">
					<div class="service-one">
						<img src="{% static 'images/service-2.png'%}"	 alt="" />
						<h4>拼娱乐</h4>
						<p>
						在身体得到锻炼之后，精神是不是也要放松放松呢，叫上几个认识的，不认识的小伙伴们，唱唱k，一起放飞自我吧！
						</p>
						<p><a class="btn btn-primary" href="#">点击查看</a> <a class="btn" href="#">我要发起</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--services-ends-->
	
	
	
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>								  
			<!--fea-video-->
			<!--pop-up-box-->
			<script type="{% static 'text/javascript'%}" src="js/modernizr.custom.53451.js'%}"></script>  
			<link href="{% static 'css/popuo-box.css'%}" rel="stylesheet" type="text/css" media="all">
			<script src="{% static 'js/jquery.magnific-popup.js'%}" type="text/javascript"></script>
			<!--pop-up-box-->

	<!--blog-starts-->
	<div class="blog" id="blog">
		<div class="container">
			<div class="blog-top">
				<h3>博  客</h3>
				<span></span>
			</div>
			<div class="blog-bottom">
				<div class="col-md-4 blog-left">
					<a href="single.html"><img src="{% static 'images/blog-1.jpg'%}" alt="" /></a>
					<div class="blog-text">
						<a href="single.html"><h4>运  动</h4></a>
						
						<p>
						
						</p>
					</div>
				</div>
				<div class="col-md-4 blog-left">
					<a href="single.html"><img src="{% static 'images/blog-2.jpg'%}" alt="" /></a>
					<div class="blog-text">
						<a href="single.html"><h4>娱  乐</h4></a>
						<p>
						
						</p>
					</div>
				</div>
				<div class="col-md-4 blog-left">
					<a href="single.html"><img src="{% static 'images/blog-3.jpg'%}" alt="" /></a>
					<div class="blog-text">
						<a href="single.html"><h4>生  活</h4></a>
						<p>
						
						</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--blog-end-->
		
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
				 
{%endblock%}