{%load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{%block title%}PinU{%endblock%}</title>

    <!-- Bootstrap -->
    <link href="{%static 'bootstrap-3.3.5/dist/css/bootstrap.css'%}" rel="stylesheet">
    <link rel="bookmark"  type="image/x-icon"  href="{%static 'favicon.ico'%}"/>
    <link rel="shortcut icon" href="{%static 'favicon.ico'%}">
    <link rel="icon" href="{%static 'favicon.ico'%}" type="image/x-icon">

	 {%block headex%}
	 {%endblock%}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{%static 'bootstrap-3.3.5/dist/jquery/jquery-1.9.1.min.js'%}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{%static 'bootstrap-3.3.5/dist/js/bootstrap.min.js'%}"></script>
  </head>
 {%block body%}<!--由于body中可能含有css类，所以将block body 至此-->
  <body><!--body 中必含元素，其余可在其他中扩展--> 
  	{%block content%}
  	{%endblock%}
	</body>
 {%endblock%}

<footer>
  <div class="container text-center">
      <small>
          CopyLeft<span><img src="{% static 'copyleft.jpg' %}" width="15px" height="15px"></span>
          ! 2016 . mro . （PinU）版权没有，翻印不究。但请协助改进本作品。
        </small>
  </div>
</footer>
</html>